.carousel-container {
  text-align: center;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(205, 52, 56, 1) 0%,
    rgb(185, 16, 16) 100%
  );
}

.carousel-container h2 {
  font-size: 2em;
  color: white;
  margin-bottom: 7%;
}

.carousel-container p {
  color: white;
  margin-bottom: 30px;
}

.carousel-wrapper {
  position: relative;
  width: 95%;
  max-width: 1300px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-width: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.carousel-item p {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  color: #717171;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.contact-button {
  margin-top: 3%;
  background: #25d366;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 50%;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    flex: 0 0 100%;
  }

  .carousel-button {
    padding: 5px;
  }
}
