.section_sobre {
  width: 100vw;
  height: 90vh;
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.box-image {
  width: 35%;
  margin-right: 20px;
  margin-left: 40px;
}

.box-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.box-text {
  width: 50%;
  margin-right: 5%;
  font-size: large;
}

.box-text h2{
margin-bottom: 10%;
}

@media (max-width: 600px) {
  .section_sobre {
    width: 100vw;
    height: 65vh;
  }
  .box {
    width: 80vw;
    height: 50vh;
  }

  .box-text {
    font-size: 10px;
  }
}

