section {
  width: 100vw;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  section {
    width: 100vw;
    height: 65vh;
  }
}
